
/* To add some space below the navigation bar */

 body {
  margin-top: 40px;
}


/* add some color - if you want color behind a major point on your website */

.banner_color {
  background-color: lightblue;
  font-weight:bold;

}
